
/* LOGO NAVBAR */
.home{
    font-weight: 500;
    padding-left: 140px !important;


}
@media screen and (max-width: 600px) {
    .home{
    
        padding-left: 0 !important;
    }
  }

.home li a{
    font-size: 19px;
    padding-left: 10px !important ;
 
}
nav{
    background: #41695e;

}
/* NAVBAR */
.divflex1{
     /* background-image:linear-gradient( #6e7f8df6,#094875ec); */
     background: black;
     color: white;
     padding: 15px;

  }

.navicons{
    color: white;  
 
}

.navsociallinks a i:hover{
    transform: scale(1.3);
}
.navsociallinks a i{
    transition: .8s;
    font-size: 15px;
    /* transform: scale(1.3); */
}
.navsociallinks a {
    margin: 10px;

 
}
.Cl_yellow{
    color: #efd284;
}
.active{
    color: #efd284 !important;

}

/* navbar end */

/* CONTENT */
.aboutimg{
    background-image: url(../IMAGES/About/pexels-pixabay-533769.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
     padding:  220px;

    color:  #07395c;
    text-align: center;
}
.aboutheading{
   
   
}
 .map{
    height:500px;
 }
/* FOOTER */
.icon {
    height: 20px;
    width: 20px;
}
.listyle {
    list-style: none;

}
.listyle li a{
    color: white;
   text-decoration: none;
}
.listyle li{
     padding-top: 10px ;
}
.sociallinks a{
    padding-left: 10px !important;

}
.sociallinks a i:hover{
  
    transform: scale(1.3);
}
   
 

.footerbg {
    color: white;
   background-color: black;
    opacity: 0.7;
}
.imgfooter {
   
    height: 180px;
    width: 180px;
}
.bgimg {
    background-image: url(../IMAGES/canada-national-parks-Yoho-GettyImages-155278913.webp);
   
}
.footerheading{
    font-weight: bold;
    font-size: 22px;
}