
/* LOGO NAVBAR */
.home{
    font-weight: 500;
    padding-left: 140px !important;


}
@media screen and (max-width: 600px) {
    .home{
    
        padding-left: 0 !important;
    }
  }

.home li a{
    font-size: 19px;
    padding-left: 10px !important ;
 
}

/* NAVBAR */
.divflex1{
     /* background-image:linear-gradient( #6e7f8df6,#094875ec); */
     background: black;
     color: white;
     padding: 15px;

  }

.navicons{
    color: white;  
 
}

.navsociallinks a i:hover{
    transform: scale(1.3);
}
.navsociallinks a i{
    transition: .8s;
    font-size: 15px;
    /* transform: scale(1.3); */
}
.navsociallinks a {
    margin: 10px;

 
}
.Cl_yellow{
    color: #efd284;
}
.active{
    color: #efd284 !important;

}

/* navbar end */
/* CONTENT */
.border{
box-shadow: 1px 2px 3px 3px rgba(31, 30, 30, 0.582);
	background-color: rgb(233, 227, 227);
	padding: 16px;
}
.btnsubmit{
    border-radius: 5px;
    border: none;
    padding: 9px 25px 9px 25px;
    color: white !important;
background-color: #07395c !important;
font-weight: bold;
letter-spacing: 1px;


}
.btnsubmit:hover{
    background:#0b5d97  !important;
 
}

#ID_error1 , #ID_error2 , #ID_error3 , #ID_error4 ,#ID_error5{
    color: red;
    display: none;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.icons{
	padding: 15px;
height: 50px;
width: 50px;
color: white;
background-color: #07395c;
border-radius: 100%;

}
.icons:hover{
    background: #0b5d97  !important;
    transform: scale(1.1);
}
label{
  
 font-size: 18px;
    color: #555;
}
form input{
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50px !important;
    padding-left: 18px;
    color: #848484;
}
textarea{
    width: 93%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 150px !important;
    padding-left: 18px;
    color: #848484;
  
}
/* FOOTER */
.icon {
    height: 20px;
    width: 20px;
}
.listyle {
    list-style: none;

}
.listyle li a{
    color: white;
   text-decoration: none;
}
.listyle li{
     padding-top: 10px ;
}
.sociallinks a{
    padding-left: 10px !important;

}
.sociallinks a i:hover{
  
    transform: scale(1.3);
}
.footerbg {
    color: white;
   background-color: black;
    opacity: 0.7;
}
.imgfooter {
   
    height: 180px;
    width: 180px;
}
.bgimg {
    background-image: url(../IMAGES/canada-national-parks-Yoho-GettyImages-155278913.webp);
   
}
.footerheading{
    font-weight: bold;
    font-size: 22px;
}