/* LOGO NAVBAR */
.home{
    font-weight: 500;
    padding-left: 140px !important;


}
@media screen and (max-width: 600px) {
    .home{
    
        padding-left: 0 !important;
    }
  }

.home li a{
    font-size: 19px;
    padding-left: 10px !important ;
 
}

/* NAVBAR */
.divflex1{
     /* background-image:linear-gradient( #6e7f8df6,#094875ec); */
     background: black;
     color: white;
     padding: 15px;

  }

.navicons{
    color: white;  
 
}

.navsociallinks a i:hover{
    transform: scale(1.3);
}
.navsociallinks a i{
    transition: .8s;
    font-size: 15px;
    /* transform: scale(1.3); */
}
.navsociallinks a {
    margin: 10px;

 
}
.Cl_yellow{
    color: #efd284;
}
.active{
    color: #efd284 !important;

}
nav{
    background: #41695e;

}

/* navbar end */
/* CONTENT */
.carousal{
    height: 500px;
}
.img{
    height: 290px;
   width: 100%;
 
}
.imgdiv{
    padding: 0% !important;
}
.pera{
      padding: 10px;
}
.divcolor{
    box-shadow:6px 9px 6px -4px #dfdfdf;
    color: white;
   /* background-color: #07395cec ; */
   background-image:linear-gradient(rgb(160, 157, 157), #0b3f64f6);
 padding-left: 0% !important;


}
.divcolor:hover{
    background-image:linear-gradient( #0b3f64f6 ,rgb(160, 157, 157));
}
.btnOutlineDownload{
	color:white !important;
	border: 1px solid white !important;

	border-radius: 100px !important;
}
.btnOutlineDownload:hover{
   transform: scale(1.1);
}
.images{
	height:150px;
	width:100% ;
	border: 3px solid rgb(228, 225, 225);
}
.images:hover{
transform: scale(1.2);}

.bigimg{
	width: 100%;
	height:100%;
	
	box-shadow: 7px 6px 7px  #dddada;
}
.bigimg:hover{
    transform: scale(1.1);}
body{
    background-color:rgba(0, 0, 0, 0.027) !important;
}
.infoimg{

   
    width: 100%;
    height:300px;
    padding: 3px ;
    padding-top: 13px;
    align-items: center;

}
.infostyling{  
	
  padding: 10px;
 
   
    margin: 7px;
}
.mainimg{
background-image: url(../IMAGES/Royal-Bengal-Tiger.jpg);
background-repeat: no-repeat;
background-size: cover;

color: white;

}
.name{

  background-image:linear-gradient(rgb(160, 157, 157), #0b3f64f6);
  color: white;
  padding: 8px;
 
 


 
}
.readmore{
    
    color: #07395c;
    font-weight: bold;
}
/* FOOTER */
.icon {
    height: 20px;
    width: 20px;
}
.listyle {
    list-style: none;

}
.listyle li a{
    color: white;
   text-decoration: none;
}
.listyle li{
     padding-top: 10px ;
}
.sociallinks a{
    padding-left: 10px !important;

}
.sociallinks a i:hover{
  
    transform: scale(1.3);
}
.footerbg {
    color: white;
   background-color: black;
    opacity: 0.7;
}
.imgfooter {
   
    height: 180px;
    width: 180px;
}
.bgimg {
    background-image: url(../IMAGES/canada-national-parks-Yoho-GettyImages-155278913.webp);
   
}
.footerheading{
    font-weight: bold;
    font-size: 22px;
}