
/* LOGO NAVBAR */
.home{
    font-weight: 500;
    padding-left: 140px !important;


}
@media screen and (max-width: 600px) {
    .home{
    
        padding-left: 0 !important;
    }
  }

.home li a{
    font-size: 19px;
    padding-left: 10px !important ;
 
}

/* NAVBAR */
.divflex1{
     /* background-image:linear-gradient( #6e7f8df6,#094875ec); */
     background: black;
     color: white;
     padding: 15px;

  }

.navicons{
    color: white;  
 
}

.navsociallinks a i:hover{
    transform: scale(1.3);
}
.navsociallinks a i{
    transition: .8s;
    font-size: 15px;
    /* transform: scale(1.3); */
}
.navsociallinks a {
    margin: 10px;

 
}
.Cl_yellow{
    color: #efd284;
}
.active{
    color: #efd284 !important;

}

/* navbar end */

/* CONTENT */
nav{
    background: #41695e;

}
.background{ 
     /* background-image: url(../IMAGES/Home/img1.jpg); */
     background:linear-gradient(53deg,#080a09ba,#14221e6e), url(../IMAGES/banner1.jpg);

    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
width: 100%;
 
}
.sliderwork{
    text-align: left; 
     padding-top: 15px;
  padding-bottom: 100px;
  font-family: 'Spectral', serif;

  padding-left: 45px;

}
.sliderwork h1{
    color: white;
    font-weight: bold;
    font-size: 4.5rem;
}
.btnGreen{
    background: #41695e !important;
    color: white !important;
    font-size: 1.3rem !important;
    letter-spacing: 1px;
    border-radius: 0px !important;
}
.input{ 
   
border: none;
height: 35px;
border:2px solid #07395c;
border-radius:3px ;

   
}
.searchicon{
 
    width: 40px;
    border: none;
    height: 35px;
    border-radius:3px ;
    background-color: #07395c !important;
    color: white !important;
}
.about{
    letter-spacing: 5px;
    color: #07395c;
    font-weight: bold;
    font-size: 25px;
}
.aboutpic{
    height: 100%;
    width: 100%;
}
.btnBlueFill{
	background: #07395c !important;
    color: white !important;
    border: none !important;
    border-radius: 50px !important;
    padding: 9px 36px !important;
   
    transition: 1s;
}
.btnBlueFill:hover{
    background: #0b5d97  !important;
    
    font-weight: bolder;
   
}
.btnslider{
	background: rgba(255, 255, 255, 0.74) !important;
    color: #07395c !important;
    border: 2px solid #07395c  !important;
    border-radius: 50px !important;
    padding: 9px 36px !important;
   font-weight: bold !important;
   transition: 1s;
}
.btnslider:hover{
    background: #07395ce7 !important;
    color: white!important;
  
    transform: scale(1.1);
}

    
 
.animalsdiv{
height: 100%;
    width: 100%;
      transition: 1s;
}
.animalsdiv:hover{
    transform: scale(1.2) ;


}
.divflex{
    margin: 0%;
    width: 100%;
}
.border{

	background-color: rgb(233, 227, 227);
	padding: 16px;
}


.icons{
	padding: 15px;
height: 50px;
width: 50px;
color: white;
background-color: #07395c;
border-radius: 100%;

}
.icons:hover{
    background: #0b5d97  !important;

    transform: scale(1.1);
}
.map{
   
    width: 100%;
}
.carousalitems{
    height: 600px;
}
.carousalimg{
height: 100%;

}

  /* DESTINATION */
.destination-overlay {
    position: absolute;
    top: 30px;
    right: 55px;
    bottom: 30px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.5);
    transition: .5s;
    z-index: 1;
}
.destination-item:hover img {
    transform: scale(1.3)
}
.destination-item img {
    transition: .5s
}
.destination-item:hover .destination-overlay {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-width: 30px
}




/* DESTINATION */ 

/* FOOTER */
.icon {
    height: 20px;
    width: 20px;
}
.listyle {
    list-style: none;

}
.listyle li a{
    color: white;
   text-decoration: none;
}
.listyle li{
     padding-top: 10px ;
}
.sociallinks a{
    padding-left: 10px !important;

}
.sociallinks a i:hover{
  
    transform: scale(1.3);
}
   
 

.footerbg {
    color: white;
   background-color: black;
    opacity: 0.7;
}
.imgfooter {
   
    height: 180px;
    width: 180px;
}
.bgimg {
    background-image: url(../IMAGES/canada-national-parks-Yoho-GettyImages-155278913.webp);
   
}
.footerheading{
    font-weight: bold;
    font-size: 22px;
}
.headlines{
    color: white;
    background-color: #3b5a54 ;
    max-width: 100%;
}
